.homeBannerImage {
  animation: myAnim 2s ease 0s 1 normal forwards;
  color: rgb(16, 16, 16);
  background-position: center;
}

@keyframes myAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
